* {
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: cadetblue;
    -webkit-box-shadow: 3px 3px 3px #ccc;
    box-shadow: 3px 3px 3px #ccc;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 4rem;
    padding: 2rem;
}

main {
    font-family: 'Josefin Sans', sans-serif;
}

input {
    height: 1.25rem;
}

#search {
    font-size: 1.2rem
}

#search button {
    cursor: pointer;
    font-family: inherit;
    font-size: 1.1rem;
    padding: 4px;
}

button:hover {
    border: 2px outset grey;
}

div#weather {
    margin-left: 7.5rem;
    margin-right: 7.5rem;
}

#weather,
#load {
    background-color: cyan;
    border: 5px inset #777;
    display: none;
    height: 25vh;
    margin-top: 25px;
    padding: 2.5rem;
}
